{
  "semi": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "singleQuote": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.liquid"],
      "options": {
        "parser": "xml",
        "singleAttributePerLine": true,
        "bracketSpacing": true,
        "endOfLine": "lf",
        "htmlWhitespaceSensitivity": "css",
        "jsxBracketSameLine": false,
        "requirePragma": false,
        "semi": false,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
