{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "order/order": ["custom-properties", "declarations"],
    "max-empty-lines": 2,
    "unit-allowed-list": ["px","em", "rem", "%", "s", "deg"],
    "color-hex-case": ["lower", { "message": "Lowercase letters are easier to distinguish from numbers" }],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
