<style>
  .klaviyo-form-SSZ6HZ {
    max-width: 640px;
  }

  @media only screen and (max-width: 768px) {
    .klaviyo-form-SSZ6HZ {
      max-width: 360px;
    }
  }


  .klaviyo-form-SSZ6HZ form [data-testid='form-row']:first-child {
    flex-direction: row !important;
  }

  @media only screen and (max-width: 768px) {
    .klaviyo-form-SSZ6HZ form [data-testid='form-row']:first-child {
      flex-direction: column !important;
    }
  }

  .klaviyo-form-SSZ6HZ form [data-testid='form-row']:first-child > div {
      width: 50%;
  }

  @media only screen and (max-width: 768px) {
    .klaviyo-form-SSZ6HZ form [data-testid='form-row']:first-child > div {
      flex: none !important;
      width: auto;
    }
  }


  .klaviyo-form-SSZ6HZ form [data-testid="form-component"] > button {
    width: 180px !important;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
  }
</style>

<div class="klaviyo-form-SSZ6HZ"></div>
