{{ 'common_example_section.js' | asset_url | script_tag }}
{{ 'common_section.css' | asset_url | stylesheet_tag }}

<div class="common_section"
     data-section="common_section"
>
   <!-- common_section -->
</div>
