<div class="page-404">
  <h1 class="page-404__title">
    404

    <br>
    Page not found
  </h1>
  <p class="page-404__text">
    The page you requested does not exist. Click
    <a class="page-404__link" href="{{ shop.secure_url }}">here</a> to continue
    shopping.
  </p>
</div>
