/* stylelint-disable no-descending-specificity */
.header__icon--menu {
  position: initial;
}

.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  background: rgb(var(--color-foreground) 0.5);
  content: "";
  cursor: default;
  height: calc(100vh - 100%);
  height:
    calc(
      var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
    );
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: opacity 0s, visibility 0s;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}

menu-drawer > details[open] > summary::before {
  opacity: 1;
  transition:
    opacity var(--duration-default) ease,
    visibility var(--duration-default) ease;
  visibility: visible;
}

.menu-drawer {
  background-color: rgb(var(--color-background));
  border-color: rgb(var(--color-foreground) var(--drawer-border-opacity));
  border-style: solid;
  border-width: 0 var(--drawer-border-width) 0 0;
  filter:
    drop-shadow(
      var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset)
      var(--drawer-shadow-blur-radius)
      rgb(var(--color-shadow) var(--drawer-shadow-opacity))
    );
  left: 0;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  top: 100%;
  transform: translateX(-100%);
  visibility: hidden;
  width: calc(100vw - 4rem);
  z-index: 3;
}

.js .menu-drawer {
  height: calc(100vh - 100%);
  height:
    calc(
      var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%))
    );
}

.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition:
    transform var(--duration-default) ease,
    visibility var(--duration-default) ease;
}

.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}

.js .menu-drawer__navigation .submenu-open {
  visibility: hidden; /* hide menus from screen readers when hidden by submenu */
}

@media screen and (min-width: 750px) {
  .menu-drawer {
    width: 40rem;
  }

  .no-js .menu-drawer {
    height: auto;
  }
}

.menu-drawer__inner-container {
  height: 100%;
  position: relative;
}

.menu-drawer__navigation-container {
  align-content: space-between;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow-y: auto;
}

.menu-drawer__navigation {
  padding: 5.6rem 0;
}

.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-js .menu-drawer__navigation {
  padding: 0;
}

.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgb(var(--color-foreground) 0.04);
}

.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgb(var(--color-foreground) 0.04);
}

.js .menu-drawer__menu li {
  margin-bottom: 0.2rem;
}

.menu-drawer__menu-item {
  font-size: 1.8rem;
  padding: 1.1rem 3.2rem;
  text-decoration: none;
}

.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__menu-item {
  padding: 1.2rem 5.2rem 1.2rem 6rem;
}

.no-js .menu-drawer__submenu .menu-drawer__submenu .menu-drawer__menu-item {
  padding-left: 9rem;
}

.menu-drawer summary.menu-drawer__menu-item {
  padding-right: 5.2rem;
}

.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}

.menu-drawer__menu-item--active,
.menu-drawer__menu-item:focus,
.menu-drawer__close-button:focus,
.menu-drawer__menu-item:hover,
.menu-drawer__close-button:hover {
  background-color: rgb(var(--color-foreground) 0.04);
  color: rgb(var(--color-foreground));
}

.menu-drawer__menu-item--active:hover {
  background-color: rgb(var(--color-foreground) 0.08);
}

.js .menu-drawer__menu-item .icon-caret,
.no-js .menu-drawer .icon-arrow {
  display: none;
}

.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.js .menu-drawer__submenu {
  background-color: rgb(var(--color-background));
  border-left: 0.1rem solid rgb(var(--color-foreground) 0.2);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(100%);
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}

.menu-drawer__close-button {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-family: var(--font-body-family);
  font-size: 1.4rem;
  font-style: var(--font-body-style);
  margin-top: 1.5rem;
  padding: 1.2rem 2.6rem;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.no-js .menu-drawer__close-button {
  display: none;
}

.menu-drawer__close-button .icon-arrow {
  margin-right: 1rem;
  transform: rotate(180deg);
}

.menu-drawer__utility-links {
  background-color: rgb(var(--color-foreground) 0.03);
  padding: 2rem;
}

.menu-drawer__account {
  align-items: center;
  color: rgb(var(--color-foreground));
  display: inline-flex;
  font-size: 1.4rem;
  margin-left: -1.2rem;
  padding: 1.2rem;
  text-decoration: none;
}

.menu-drawer__account .icon-account {
  height: 2rem;
  margin-right: 1rem;
  width: 2rem;
}

.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}

.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem;
  margin-top: 2rem;
}

.menu-drawer .list-social:empty {
  display: none;
}

.menu-drawer .list-social__link {
  padding: 1.3rem 1.25rem;
}
