/* stylelint-disable scss/operator-no-newline-after */

slider-component {
  --desktop-margin-left-first-item:
    max(
      5rem,
      calc(
        (
          100vw - var(--page-width) + 10rem -
          var(--grid-desktop-horizontal-spacing)
        ) / 2
      )
    );

  display: block;
  position: relative;
}

slider-component.slider-component-full-width {
  --desktop-margin-left-first-item: 1.5rem;
}

@media screen and (max-width: 749px) {
  slider-component.page-width {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 749px) and (max-width: 990px) {
  slider-component.page-width {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 989px) {
  .no-js slider-component .slider {
    padding-bottom: 3rem;
  }
}

.slider__slide {
  --focus-outline-padding: 0.5rem;
  --shadow-padding-top:
    calc(
      (var(--shadow-vertical-offset) * -1 + var(--shadow-blur-radius)) *
      var(--shadow-visible)
    );
  --shadow-padding-bottom:
    calc(
      (var(--shadow-vertical-offset) + var(--shadow-blur-radius)) *
      var(--shadow-visible)
    );

  flex-shrink: 0;
  padding-bottom: 0;
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .slider.slider--mobile {
    flex-wrap: inherit;
    margin-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
    scroll-padding-left: 1.5rem;
    scroll-snap-type: x mandatory;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--mobile::after {
    content: "";
    padding-left: 1.5rem;
    width: 0;
  }

  .slider.slider--mobile .slider__slide {
    margin-bottom: 0;
    padding-bottom:
      max(
        var(--focus-outline-padding),
        var(--shadow-padding-bottom)
      );
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
  }

  .slider.slider--mobile.contains-content-container .slider__slide {
    --focus-outline-padding: 0;
  }

  .slider.slider--mobile.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }
}

@media screen and (min-width: 750px) {
  .slider.slider--tablet-up {
    flex-wrap: inherit;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    scroll-snap-type: x mandatory;
  }

  .slider.slider--tablet-up .slider__slide {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 989px) {
  .slider.slider--tablet {
    flex-wrap: inherit;
    margin-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
    scroll-padding-left: 1.5rem;
    scroll-snap-type: x mandatory;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--tablet::after {
    content: "";
    margin-left: calc(-1 * var(--grid-desktop-horizontal-spacing));
    padding-left: 1.5rem;
    width: 0;
  }

  .slider.slider--tablet .slider__slide {
    margin-bottom: 0;
    padding-bottom:
      max(
        var(--focus-outline-padding),
        var(--shadow-padding-bottom)
      );
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
  }

  .slider.slider--tablet.contains-content-container .slider__slide {
    --focus-outline-padding: 0;
  }

  .slider.slider--tablet.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }
}

.slider--everywhere {
  flex-wrap: inherit;
  margin-bottom: 1rem;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slider.slider--everywhere .slider__slide {
  margin-bottom: 0;
  scroll-snap-align: center;
}

@media screen and (min-width: 990px) {
  .slider-component-desktop.page-width {
    max-width: none;
  }

  .slider--desktop {
    flex-wrap: inherit;
    margin-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
    scroll-padding-left: var(--desktop-margin-left-first-item);
    scroll-snap-type: x mandatory;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider--desktop::after {
    content: "";
    margin-left: calc(-1 * var(--grid-desktop-horizontal-spacing));
    padding-left: 5rem;
    width: 0;
  }

  .slider.slider--desktop .slider__slide {
    margin-bottom: 0;
    padding-bottom:
      max(
        var(--focus-outline-padding),
        var(--shadow-padding-bottom)
      );
    padding-top: max(var(--focus-outline-padding), var(--shadow-padding-top));
  }

  .slider--desktop .slider__slide:first-child {
    margin-left: var(--desktop-margin-left-first-item);
    scroll-margin-left: var(--desktop-margin-left-first-item);
  }

  .slider-component-full-width .slider--desktop {
    scroll-padding-left: 1.5rem;
  }

  .slider-component-full-width .slider--desktop .slider__slide:first-child {
    margin-left: 1.5rem;
    scroll-margin-left: 1.5rem;
  }

  /* Fix to show some space at the end of our sliders in all browsers */
  .slider-component-full-width .slider--desktop::after {
    padding-left: 1.5rem;
  }

  .slider--desktop.grid--5-col-desktop .grid__item {
    width:
      calc(
        (100% - var(--desktop-margin-left-first-item)) / 5 -
        var(--grid-desktop-horizontal-spacing) * 2
      );
  }

  .slider--desktop.grid--4-col-desktop .grid__item {
    width:
      calc(
        (100% - var(--desktop-margin-left-first-item)) / 4 -
        var(--grid-desktop-horizontal-spacing) * 3
      );
  }

  .slider--desktop.grid--3-col-desktop .grid__item {
    width:
      calc(
        (100% - var(--desktop-margin-left-first-item)) / 3 -
        var(--grid-desktop-horizontal-spacing) * 4
      );
  }

  .slider--desktop.grid--2-col-desktop .grid__item {
    width:
      calc(
        (100% - var(--desktop-margin-left-first-item)) / 2 -
        var(--grid-desktop-horizontal-spacing) * 5
      );
  }

  .slider--desktop.grid--1-col-desktop .grid__item {
    width:
      calc(
        (100% - var(--desktop-margin-left-first-item)) -
        var(--grid-desktop-horizontal-spacing) * 9
      );
  }

  .slider.slider--desktop.contains-content-container .slider__slide {
    --focus-outline-padding: 0;
  }

  .slider.slider--desktop.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
    padding-bottom: var(--focus-outline-padding);
  }
}

@media (prefers-reduced-motion) {
  .slider {
    scroll-behavior: auto;
  }
}

/* Scrollbar */

.slider {
  -ms-overflow-style: none;
  scrollbar-color:
    rgb(var(--color-foreground))
    rgb(var(--color-foreground) 0.04);
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
  height: 0.4rem;
  width: 0.4rem;
}

.no-js .slider {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}

.no-js .slider::-webkit-scrollbar {
  display: initial;
}

.slider::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-foreground));
  border: 0;
  border-radius: 0.4rem;
}

.slider::-webkit-scrollbar-track {
  background: rgb(var(--color-foreground) 0.04);
  border-radius: 0.4rem;
}

.slider-counter {
  display: flex;
  justify-content: center;
  min-width: 4.4rem;
}

@media screen and (min-width: 750px) {
  .slider-counter--dots {
    margin: 0 1.2rem;
  }
}

.slider-counter__link {
  padding: 1rem;
}

@media screen and (max-width: 749px) {
  .slider-counter__link {
    padding: 0.7rem;
  }
}

.slider-counter__link--dots .dot {
  border: 0.1rem solid rgb(var(--color-foreground) 0.5);
  border-radius: 50%;
  display: block;
  height: 1rem;
  padding: 0;
  transition: transform 0.2s ease-in-out;
  width: 1rem;
}

.slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: rgb(var(--color-foreground));
}

@media screen and (forced-colors: active) {
  .slider-counter__link--active.slider-counter__link--dots .dot {
    background-color: canvastext;
  }
}

.slider-counter__link--dots:not(.slider-counter__link--active):hover .dot {
  border-color: rgb(var(--color-foreground));
  transform: scale(1.1);
}

.slider-counter__link--numbers {
  color: rgb(var(--color-foreground) 0.5);
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.slider-counter__link--numbers:hover {
  color: rgb(var(--color-foreground));
  transform: scale(1.1);
}

.slider-counter__link--active.slider-counter__link--numbers {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  transform: scale(1.1);
}

.slider-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .slider:not(.slider--everywhere, .slider--desktop) + .slider-buttons {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  .slider--desktop:not(.slider--tablet) + .slider-buttons {
    display: none;
  }
}

@media screen and (min-width: 750px) {
  .slider--mobile + .slider-buttons {
    display: none;
  }
}

.slider-button {
  align-items: center;
  background: transparent;
  border: none;
  color: rgb(var(--color-foreground) 0.75);
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  width: 44px;
}

.slider-button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

.slider-button .icon {
  height: 0.6rem;
}

.slider-button--next .icon {
  transform: rotate(-90deg);
}

.slider-button--prev .icon {
  transform: rotate(90deg);
}

.slider-button[disabled] .icon {
  color: rgb(var(--color-foreground) 0.3);
  cursor: not-allowed;
}

.slider-button--next:not([disabled]):hover .icon {
  transform: rotate(-90deg) scale(1.1);
}

.slider-button--prev:not([disabled]):hover .icon {
  transform: rotate(90deg) scale(1.1);
}
/* stylelint-enable scss/operator-no-newline-after */
