.deferred-media__poster {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.media > .deferred-media__poster {
  align-items: center;
  display: flex;
  justify-content: center;
}

.deferred-media__poster img {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.deferred-media {
  overflow: hidden;
}

.deferred-media:not([loaded]) template {
  z-index: -1;
}

.deferred-media__poster:focus-visible {
  border-radius: calc(var(--media-radius) - var(--media-border-width));
  box-shadow:
    0 0 0 var(--media-border-width)
    rgb(var(--color-foreground) var(--media-border-opacity)),
    0 0 0 calc(var(--media-border-width) + 0.3rem) rgb(var(--color-background)),
    0 0 0 calc(var(--media-border-width) + 0.5rem)
    rgb(var(--color-foreground) 0.5);
  outline: none;
}

.deferred-media__poster:focus {
  border-radius: calc(var(--media-radius) - var(--media-border-width));
  box-shadow:
    0 0 0 var(--media-border-width)
    rgb(var(--color-foreground) var(--media-border-opacity)),
    0 0 0 calc(var(--media-border-width) + 0.3rem) rgb(var(--color-background)),
    0 0 0 calc(var(--media-border-width) + 0.5rem)
    rgb(var(--color-foreground) 0.5);
  outline: none;
}

.deferred-media[loaded] > .deferred-media__poster {
  display: none;
}

/* outline styling for Windows High Contrast Mode */
@media (forced-colors: active) {
  .deferred-media__poster:focus {
    outline: transparent solid 1px;
  }
}

.deferred-media__poster:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 0;
}

.deferred-media__poster-button {
  align-items: center;
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgb(var(--color-foreground) 0.1);
  border-radius: 50%;
  color: rgb(var(--color-foreground));
  display: flex;
  height: 6.2rem;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition:
    transform var(--duration-short) ease,
    color var(--duration-short) ease;
  width: 6.2rem;
  z-index: 1;
}

.deferred-media__poster-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.deferred-media__poster-button .icon {
  height: 2rem;
  width: 2rem;
}

.deferred-media__poster-button .icon-play {
  margin-left: 0.2rem;
}
