.cart {
  display: block;
  position: relative;
}

.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link {
  display: none;
}


.cart__warnings {
  display: none;
  padding: 3rem 0 1rem;
  text-align: center;
}

.is-empty .cart__warnings {
  display: block;
}

.cart__empty-text {
  display: none;
  margin: 4.5rem 0 2rem;
}

.is-empty .cart__empty-text {
  display: block;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  border-bottom: 0.1rem solid rgb(var(--color-foreground) 0.08);
  padding-bottom: 3rem;
  position: relative;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.is-empty .cart__footer {
  display: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  align-items: flex-end;
  color: rgb(var(--color-foreground) 0.75);
  display: flex;
  height: 1.8rem;
  line-height: 1;
  position: absolute;
  top: -3rem;
}

.cart__note .field__input {
  border-radius: var(--inputs-radius);
  border-bottom-right-radius: 0;
  height: 100%;
  padding: 1rem 2rem;
  position: relative;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note::after,
.cart__note:hover.cart__note::after,
.cart__note::before,
.cart__note:hover.cart__note::before,
.cart__note .field__input:focus {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column: 1 / 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__footer {
    border: 0;
    display: flex;
    justify-content: space-between;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  margin: 0 auto;
  max-width: 36rem;
}

/* stylelint-disable no-descending-specificity */
.cart__blocks > * + * {
  margin-top: 1rem;
}
/* stylelint-enable no-descending-specificity */

.cart__dynamic-checkout-buttons div[role="button"] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  line-height: calc(1 + 1 / var(--font-body-scale));
  margin-bottom: 1rem;
}

.tax-note {
  display: block;
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}
