.rating {
  display: inline-block;
  margin: 0;
}

/* stylelint-disable scss/operator-no-newline-after */
.rating-star {
  --percent:
    calc(
      (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
        var(--font-size) /
        (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
    );

  display: inline-block;
  font-family: Times, serif;
  font-size: calc(var(--font-size) * 1rem);
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  line-height: 1;
  margin: 0;
}
/* stylelint-enable scss/operator-no-newline-after */

.rating-star::before {
  background:
    linear-gradient(
      90deg,
      var(--color-icon) var(--percent),
      rgb(var(--color-foreground) 0.15) var(--percent)
    );
  background-clip: text;
  content: "★★★★★";
  -webkit-text-fill-color: transparent;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
