.predictive-search {
  background-color: rgb(var(--color-background));
  border-bottom-left-radius: var(--popup-corner-radius);
  border-bottom-right-radius: var(--popup-corner-radius);
  border-color: rgb(var(--color-foreground) var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  box-shadow:
    var(--popup-shadow-horizontal-offset)
    var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgb(var(--color-shadow) var(--popup-shadow-opacity));
  display: none;
  left: -0.1rem;
  position: absolute;
  top: calc(100% + 0.1rem);
  z-index: 3;
}

.predictive-search--search-template {
  width: calc(100% + 0.2rem);
  z-index: 2;
}

@media screen and (max-width: 749px) {
  .predictive-search--header {
    left: 0;
    right: 0;
    top: 100%;
  }
}

@media screen and (max-width: 989px) {
  .predictive-search {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }
}

@media screen and (min-width: 750px) {
  .predictive-search {
    border-top: none;
    width: calc(100% + 0.2rem);
  }

  .header predictive-search {
    position: relative;
  }
}

predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}

.predictive-search__heading {
  align-items: center;
  border-bottom: 0.1rem solid rgb(var(--color-foreground) 0.08);
  color: rgb(var(--color-foreground) 0.7);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem 0 0.75rem;
  width: calc(100% - 4rem);
}

predictive-search .spinner {
  height: 1.5rem;
  line-height: 0;
  width: 1.5rem;
}

.predictive-search__heading .spinner {
  margin: 0 0.2rem 0 2rem;
}

predictive-search:not([loading]) .predictive-search__heading .spinner,
predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

predictive-search[loading] .predictive-search__heading ~ .predictive-search__loading-state,
predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}

.predictive-search__item {
  display: flex;
  padding: 1rem 2rem;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.predictive-search__item--link {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-areas: "product-image product-content";
  grid-template-columns: 5rem 1fr;
}

.predictive-search__item-content {
  display: flex;
  flex-direction: column;
  grid-area: product-content;
}

.predictive-search__item-content--centered {
  justify-content: center;
}

.predictive-search__item-vendor {
  font-size: 0.9rem;
}

.predictive-search__item-heading {
  margin: 0;
}

.predictive-search__item .price {
  color: rgb(var(--color-foreground) 0.7);
  font-size: 1.2rem;
}

.predictive-search__item-vendor + .predictive-search__item-heading,
.predictive-search .price {
  margin-top: 0.5rem;
}

.predictive-search__list-item:nth-last-child(2) {
  border-bottom: 0.1rem solid rgb(var(--color-foreground) 0.08);
}

.predictive-search__list-item[aria-selected="true"] > *,
.predictive-search__list-item:hover > * {
  background-color: rgb(var(--color-foreground) 0.04);
  color: rgb(var(--color-foreground));
}

.predictive-search__list-item[aria-selected="true"] .predictive-search__item-heading,
.predictive-search__list-item:hover .predictive-search__item-heading {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.predictive-search__item--term {
  align-items: center;
  justify-content: space-between;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  padding: 1.3rem 2rem;
  word-break: break-all;
}

@media screen and (min-width: 750px) {
  .predictive-search__item--term {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.predictive-search__item--term .icon-arrow {
  color: rgb(var(--color-link));
  flex-shrink: 0;
  height: calc(var(--font-heading-scale) * 1.4rem);
  margin-left: calc(var(--font-heading-scale) * 2rem);
  width: calc(var(--font-heading-scale) * 1.4rem);
}

/* 'object-fit: contain' polyfill:
https://p.bdir.in/p/Object-Fit-Images--JavaScript-Polyfill-for-Object-fit-038-Object-position/550 */
.predictive-search__image {
  font-family: "object-fit: contain"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  grid-area: product-image;
  object-fit: contain;
}
