.cart-items td,
.cart-items th {
  border: none;
  padding: 0;
}

.cart-items th {
  font-weight: normal;
  opacity: 0.85;
  padding-bottom: 1.8rem;
  text-align: left;
}

.cart-item__quantity-wrapper {
  display: flex;
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}

.cart-item__image-container {
  align-items: flex-start;
  display: inline-flex;
}

.cart-item__image-container::after {
  content: none;
}

.cart-item__image {
  height: auto;
  max-width: calc(10rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .cart-item__image {
    max-width: 100%;
  }
}

.cart-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.cart-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item__details > * + * {
  margin-top: 0.6rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__link {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.cart-item__name {
  display: block;
  text-decoration: none;
}

.cart-item__name:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.3rem;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__old-price {
  opacity: 0.7;
}

.cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.4rem;
}

.cart-item__final-price {
  font-weight: 400;
}

.product-option {
  font-size: 1.4rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  word-break: break-all;
}

.cart-item cart-remove-button {
  display: flex;
  margin-left: 1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item cart-remove-button {
    height: 4.5rem;
    width: 4.5rem;
  }
}

cart-remove-button .button {
  margin: 0 0.1rem 0.1rem 0;
  min-height: 4.5rem;
  min-width: calc(4.5rem / var(--font-body-scale));
  padding: 0;
}

cart-remove-button .button::before,
cart-remove-button .button::after {
  content: none;
}

cart-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  cart-remove-button .button {
    min-height: 3.5rem;
    min-width: 3.5rem;
  }
}

cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .loading-overlay {
  bottom: 0;
  left: auto;
  padding: 0;
  right: auto;
  top: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    bottom: auto;
    padding-top: 4.5rem;
    right: 0;
  }
}

.cart-item .loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  align-items: flex-start;
  display: flex;
  margin-top: 1rem;
}

.cart-item__error-text {
  font-size: 1.2rem;
  order: 1;
}

.cart-item__error-text + svg {
  flex-shrink: 0;
  margin-right: 0.7rem;
  margin-top: 0.4rem;
  width: 1.2rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

/* stylelint-disable no-descending-specificity */
.product-option * {
  display: inline;
  margin: 0;
}
/* stylelint-enable no-descending-specificity */

.cart-items thead th {
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    display: block;
    width: 100%;
  }

  .cart-items thead tr {
    border-bottom: 0.1rem solid rgb(var(--color-foreground) 0.2);
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .cart-item {
    display: grid;
    gap: 1.5rem;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    margin-bottom: 3.5rem;
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item__media {
    grid-row: 1 / 3;
  }

  .cart-item__details {
    grid-column: 2 / 4;
  }

  .cart-item__quantity {
    grid-column: 2 / 5;
  }

  .cart-item__quantity-wrapper {
    flex-wrap: wrap;
  }

  .cart-item__totals {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 750px) {
  .cart-items {
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: none;
    display: table;
    width: 100%;
  }

  .cart-items th {
    border-bottom: 0.1rem solid rgb(var(--color-foreground) 0.08);
  }

  .cart-items th + th {
    padding-left: 4rem;
  }

  .cart-items thead th:first-child {
    width: 50%;
  }

  .cart-items td {
    padding-top: 4rem;
    vertical-align: top;
  }

  .cart-item {
    display: table-row;
  }

  .cart-item > td + td {
    padding-left: 4rem;
  }

  .cart-item__details {
    width: 35rem;
  }

  .cart-item__media {
    width: 10rem;
  }

  .cart-item cart-remove-button {
    margin: 0.5rem 0 0 1.5rem;
  }

  .cart-item__price-wrapper > *:only-child:not(.cart-item__discounted-prices) {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 6rem;
  }

  .cart-item__details {
    width: 50rem;
  }

  .cart-items thead th:first-child {
    width: 60%;
  }
}
