.disclosure {
  position: relative;
}

.disclosure__button {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 4rem;
  padding: 0 1.5rem;
}

.disclosure__list-wrapper {
  background-color: rgb(var(--color-background));
  border-color: rgb(var(--color-foreground) var(--popup-border-opacity));
  border-radius: var(--popup-corner-radius);
  border-style: solid;
  border-width: var(--popup-border-width);
  bottom: 100%;
  box-shadow:
    var(--popup-shadow-horizontal-offset)
    var(--popup-shadow-vertical-offset)
    var(--popup-shadow-blur-radius)
    rgb(var(--color-shadow) var(--popup-shadow-opacity));
  overflow: hidden;
  position: absolute;
  transform: translateY(-1rem);
  z-index: 2;
}

.disclosure__list {
  font-size: 1.4rem;
  max-height: 19rem;
  max-width: 22rem;
  min-height: 8.2rem;
  min-width: 12rem;
  overflow-y: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
  scroll-padding: 0.5rem 0;
  width: max-content;
}

.disclosure__item {
  position: relative;
}

.disclosure__link {
  display: block;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  padding: 0.5rem 2.2rem;
  text-decoration: none;
}
