.quick-add {
  grid-row-start: 4;
  margin: 0 0 1rem;
  position: relative;
  z-index: 1;
}

.card--card .quick-add {
  margin: 0 1.3rem 1rem;
}

.quick-add-modal {
  background: rgb(var(--color-foreground) 0.2);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.quick-add-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.quick-add-modal__content {
  background-color: rgb(var(--color-background));
  left: 50%;
  margin: 3.2rem auto 0;
  max-width: var(--page-width);
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  width: calc(100% - 3rem);
}

@media screen and (min-width: 750px) {
  .quick-add-modal__content {
    margin-top: 10rem;
    max-height: calc(100% - 20rem);
    overflow-y: auto;
    width: 80%;
  }

  quick-add-modal .quick-add-modal__toggle {
    right: 2rem;
    top: 2rem;
  }
}

@media screen and (min-width: 990px) {
  .quick-add-modal__content {
    width: 70%;
  }
}

.quick-add-modal__content img {
  max-width: 100%;
}

.quick-add-modal__content-info {
  display: flex;
  height: 100%;
  overflow-y: auto;
  padding: 2.5rem;
  padding-right: 4.4rem;
}

.quick-add-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  quick-add-modal .slider .product__media-item.grid__item {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .quick-add-modal__content {
    bottom: 3.2rem;
  }

  .quick-add-modal__content-info > * {
    max-height: 100%;
  }

  quick-add-modal .product--mobile-columns .product__media-item {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

.quick-add-modal__toggle {
  align-items: center;
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgb(var(--color-foreground) 0.1);
  border-radius: 50%;
  color: rgb(var(--color-foreground) 0.55);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  width: 4rem;
  z-index: 5;
}

.quick-add-modal__toggle:hover {
  color: rgb(var(--color-foreground) 0.75);
}

.quick-add-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

quick-add-modal .product:not(.featured-product) .product__view-details {
  display: block;
}

quick-add-modal .quick-add-hidden,
quick-add-modal .product__modal-opener:not(.product__modal-opener--image),
quick-add-modal .product__media-item:not(:first-child) {
  display: none !important;
}

quick-add-modal .slider.slider--mobile {
  overflow: visible;
}

quick-add-modal .product__media-gallery .product__media-list {
  margin-bottom: 0;
}

quick-add-modal .product__media-list .deferred-media {
  display: block;
  width: 100%;
}

quick-add-modal .product--thumbnail .product__media-gallery,
quick-add-modal .product--thumbnail_slider .product__media-gallery,
quick-add-modal .product--stacked .product__info-container--sticky,
quick-add-modal .product--columns .product__info-container--sticky {
  position: relative;
  top: 0;
}

@media screen and (min-width: 750px) {
  quick-add-modal .product:not(.product--no-media) .product__media-wrapper {
    max-width: 45%;
    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  quick-add-modal .product:not(.product--no-media) .product__info-wrapper {
    max-width: 54%;
    padding-left: 4rem;
    width: calc(54% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  quick-add-modal .product--columns .product__media-item:not(.product__media-item--single, :only-child) {
    max-width: 100%;
    width: 100%;
  }

  quick-add-modal .thumbnail-slider .thumbnail-list.slider--tablet-up {
    display: none;
  }
}

quick-add-modal .page-width {
  padding: 0;
}

quick-add-modal .product__title > h1 {
  display: none;
}

quick-add-modal .product__title > a {
  display: block;
  text-decoration: none;
}

quick-add-modal .product__title > a:hover {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 0.2rem;
}

quick-add-modal .product-form__buttons {
  max-width: initial;
}

.quick-add__submit {
  box-sizing: border-box;
  min-width: 100%;
  padding: 0.8rem;
}
