/* Base */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  display: flex;
  flex-direction: column;
  font-family: var(--font-body-family);
  font-size: 1.5rem;
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  margin: 0;
  min-height: 100vh;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }
}

.password-modal__content-heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
}

@media only screen and (min-width: 750px) {
  .password-modal__content-heading {
    font-size: 1.8rem;
  }
}

/* Password Section */

.full-height {
  height: 100%;
}

.password {
  background-color: rgb(var(--color-background));
  height: 100%;
}

.password-link {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}

.password-link svg {
  height: 1.8rem;
  margin-right: 1rem;
  width: 1.8rem;
}

.password-modal__content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 4.5rem 3.2rem;
  text-align: center;
  width: 100%;
}

.password-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 4rem;
  width: 100%;
}

.password-modal .password-form {
  max-width: 50rem;
}

.password-field.field {
  flex: 1 20rem;
}

.password-field .form__message {
  margin-top: 1.5rem;
}

.password-button {
  margin-top: 3rem;
  width: 100%;
}

@media only screen and (max-width: 749px) {
  .password-field--error + .password-button {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 750px) {
  .password-button {
    align-self: start;
    margin-left: 2rem;
    margin-top: 0;
    width: auto;
  }
}

.password-logo {
  margin-bottom: 1.5rem;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .password-logo {
    margin-bottom: 0;
  }
}

.password-heading {
  font-weight: 400;
  margin-top: 5rem;
}

.password-main {
  flex-grow: 1;
}

.password-main > section:only-child {
  height: 100%;
}

.password-main > section:only-child > .newsletter {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 0;
}

.password-main > section:only-child .newsletter__wrapper:not(.email-signup-banner__box) {
  width: 100%;
}

.password-main > section:only-child > :not(.newsletter--narrow) > .newsletter__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.password__footer-text a {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  padding: 0;
}

.password__footer-login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}

.password-modal .icon-close {
  color: rgb(var(--color-foreground));
}

.password__footer {
  align-items: center;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

hr {
  margin: 0 !important;
}

.list-social:not(:empty) + .password__footer-caption {
  margin-top: 3rem;
}

.password__footer-caption a {
  color: rgb(var(--color-link));
  padding: 0;
}

.modal__toggle,
.modal__close-button {
  list-style-type: none;
}

.no-js .modal__toggle {
  z-index: 2;
}

details[open] .modal__toggle,
.modal__close-button {
  background-color: transparent;
  color: rgb(var(--color-foreground));
  padding: 0.8rem;
  position: absolute;
  right: 2.2rem;
  top: 2.2rem;
}

.no-js .modal__close-button {
  display: none;
}

.modal__toggle::-webkit-details-marker {
  display: none;
}

details.modal .modal__toggle-close {
  display: none;
}

details[open].modal .modal__toggle-close {
  background: rgb(var(--color-background));
  cursor: pointer;
  display: flex;
  padding: 0.8rem;
  z-index: 1;
}

.modal__close-button svg,
details[open].modal .modal__toggle-close svg {
  height: 1.7rem;
  width: 1.7rem;
}

details[open].modal .modal__toggle-close:hover {
  opacity: 0.75;
}

.js details[open].modal .modal__toggle-close {
  display: none;
}

details.modal .modal__toggle-open {
  display: flex;
}

.no-js details[open].modal .modal__toggle-open {
  display: none;
}

.password-header {
  align-items: center;
  color: rgb(var(--color-foreground));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 2rem 1.5rem 2.5rem;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .password-header {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 2rem 5rem 2.5rem;
    text-align: left;
  }
}

.password-header details-modal {
  flex-shrink: 0;
}

.password-content {
  text-align: center;
}

@media only screen and (max-width: 749px) {
  .password-content {
    margin-bottom: 1.8rem;
    margin-top: 1rem;
  }
}

.shopify-name {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.icon-shopify {
  color: rgb(var(--color-foreground));
  height: 2rem;
  vertical-align: top;
  width: 7rem;
}

password-modal {
  grid-column: 3;
  justify-self: flex-end;
}
