/* Base */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  background-color: rgb(var(--color-base-background-1));
  color: rgb(var(--color-base-text));
  flex: 1 0 auto;
  font-family: var(--font-body-family);
  font-size: 1.5rem;
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
  letter-spacing: 0.07rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 2rem;
}

@media only screen and (min-width: 750px) {
  body {
    font-size: 1.6rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    padding: 0 5rem;
  }
}

::selection {
  background-color: rgb(var(--color-base-text) 0.2);
}

h1,
.h1,
h2,
.h2 {
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
}

h1,
.h1 {
  font-size: calc(var(--font-heading-scale) * 3rem);
}

@media only screen and (min-width: 750px) {
  h1,
  .h1 {
    font-size: calc(var(--font-heading-scale) * 4rem);
  }
}

h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 2.4rem);
  }
}

a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}

.skip-to-content-link:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: inherit;
  width: auto;
  z-index: 9999;
}

.link {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: rgb(var(--color-base-outline-button-labels));
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0.4rem;
  text-decoration: underline;
}

.link:hover {
  color: rgb(var(--color-base-outline-button-labels) 0.75);
}

.button {
  align-items: center;
  background-color: rgb(var(--color-base-accent-1));
  border: none;
  box-shadow: 0 0 0 0.1rem rgb(var(--color-base-accent-1));
  color: rgb(var(--color-base-solid-button-labels));
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 1.5rem;
  height: auto;
  justify-content: center;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  min-width: 12rem;
  padding: 1.5rem 3rem;
  text-decoration: none;
}

.button::selection {
  background-color: rgb(var(--color-base-solid-button-labels) 0.3);
}

.button:hover {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-base-accent-1));
}

.button--secondary {
  background-color: transparent;
  box-shadow: 0 0 0 0.1rem rgb(var(--color-base-outline-button-labels));
  color: rgb(var(--color-base-outline-button-labels));
}

.button--secondary::selection {
  background-color: rgb(var(--color-base-outline-button-labels) 0.3);
}

.button--secondary:hover {
  box-shadow: 0 0 0 0.2rem rgb(var(--color-base-outline-button-labels));
}

.gift-card {
  padding-bottom: 3.4rem;
}

.gift-card__title {
  padding: 4rem 0 1.7rem;
  text-align: center;
  word-break: break-word;
}

@media only screen and (min-width: 990px) {
  .gift-card__title {
    padding: 6rem 0 2.6rem;
  }
}

.gift-card__image-wrapper {
  align-items: center;
  background-color: rgb(var(--color-base-background-1));
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}

@media only screen and (min-width: 750px) {
  .gift-card__image-wrapper {
    margin-bottom: 0;
    width: 40rem;
  }
}

.gift-card__image {
  height: auto;
  max-width: 100%;
  padding: 0 2rem;
}

@media only screen and (min-width: 750px) {
  .gift-card__image {
    padding: 0;
  }
}

.gift-card__heading {
  font-weight: 400;
  margin: 2.5rem 0 1rem;
}

.gift-card__price {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  opacity: 0.85;
}

.gift-card__price > p:first-child {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 750px) {
  .gift-card__price {
    font-size: 2rem;
  }
}

.gift-card__number {
  background-color: transparent;
  border: none;
  color: rgb(var(--color-base-text));
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(1 + 0.6 / var(--font-body-scale));
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .gift-card__number {
    font-size: 1.8rem;
  }
}

.gift-card__text {
  margin-bottom: 4rem;
  opacity: 0.7;
}

.gift-card__information {
  margin-top: 3rem;
  text-align: center;
}

.gift-card__label {
  display: inline;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-left: 1rem;
}

.gift-card__label:not(.badge) {
  font-weight: 400;
  opacity: 0.7;
}

.badge {
  background-color: rgb(var(--color-base-background-1));
  border: 1px solid transparent;
  border-color: rgb(var(--color-base-text) 0.04);
  border-radius: 4rem;
  color: rgb(var(--color-base-text));
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  margin: 1.7rem 0 1rem 1rem;
  padding: 0.6rem 1.3rem;
  text-align: center;
}

.badge--inverse {
  background-color: rgb(var(--color-base-text));
  border-color: rgb(var(--color-base-text));
  color: rgb(var(--color-base-background-1));
}

.caption-large {
  font-size: 1.3rem;
  letter-spacing: 0.04rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.gift-card__copy-code {
  margin-bottom: 2.2rem;
}

.gift-card__qr-code {
  margin-top: 3rem;
}

@media only screen and (min-width: 750px) {
  .gift-card__qr-code {
    margin-top: 5rem;
  }
}

.gift-card__qr-code img {
  margin: 0 auto;
}

.gift_card__apple-wallet {
  display: block;
  line-height: 0;
  margin-bottom: 5rem;
}

.gift-card__buttons {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  max-width: 25rem;
}

/*
  Focus ring - default (with offset)
*/

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
*:focus {
  box-shadow: none;
  outline: 0;
}

*:focus-visible {
  box-shadow:
    0 0 0 0.3rem rgb(var(--color-base-background-1)),
    0 0 0.5rem 0.4rem rgb(var(--color-base-text) 0.3);
  outline: 0.2rem solid rgb(var(--color-base-text) 0.5);
  outline-offset: 0.3rem;
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused,
.no-js *:focus {
  box-shadow:
    0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0.5rem 0.4rem rgb(var(--color-foreground) 0.3);
  outline: 0.2rem solid rgb(var(--color-foreground) 0.5);
  outline-offset: 0.3rem;
}

.button:focus-visible {
  box-shadow:
    0 0 0 0.1rem rgb(var(--color-base-accent-1)),
    0 0 0 0.3rem rgb(var(--color-base-background-1)),
    0 0 0.5rem 0.4rem rgb(var(--color-base-text) 0.3);
}

/* Negate the fallback side-effect for browsers that support :focus-visible */
.no-js *:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 0;
}

.button:focus {
  box-shadow:
    0 0 0 0.1rem rgb(var(--color-base-accent-1)),
    0 0 0 0.3rem rgb(var(--color-base-background-1)),
    0 0 0.5rem 0.4rem rgb(var(--color-base-text) 0.3);
}

.gift-card__buttons > .button:first-child {
  display: block;
  margin-bottom: 2rem;
}

.button--secondary:focus-visible {
  box-shadow:
    0 0 0 0.1rem rgb(var(--color-base-outline-button-labels)),
    0 0 0 0.3rem rgb(var(--color-base-background-1)),
    0 0 0.5rem 0.4rem rgb(var(--color-base-text) 0.3);
}

.button--secondary:focus {
  box-shadow:
    0 0 0 0.1rem rgb(var(--color-base-outline-button-labels)),
    0 0 0 0.3rem rgb(var(--color-base-background-1)),
    0 0 0.5rem 0.4rem rgb(var(--color-base-text) 0.3);
}

.form__message {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  line-height: 1;
  margin-top: 1rem;
}

.form__message .icon {
  flex-shrink: 0;
  height: 1.3rem;
  margin-right: 0.5rem;
  width: 1.3rem;
}

@media print {
  .no-print {
    display: none;
  }
}

.gradient {
  background: rgb(var(--color-base-background-1));
  background: var(--gradient-base-background-1);
  background-attachment: fixed;
}
