.video-section__media {
  padding-bottom: 56.25%;
  position: relative;
}

.video-section__media.deferred-media {
  box-shadow:
    var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgb(var(--color-shadow) var(--media-shadow-opacity));
}

.video-section__media.deferred-media::after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  background-color: rgb(var(--color-foreground) 0.03);
  border: 0;
}

.video-section__poster,
.video-section__media iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}
