<style>
  {% render 'page.styles-guide.css' %}
</style>

<div
  class="page-styles-guide"
  data-template="page.styles-guide"
>
  {% section 'page-styles-guide-typography' %}

  {% section 'page-styles-guide-components' %}
</div>
