<section
  class="page-styles-guide-typography"
  data-section="page-styles-guide-typography"
>
  <div class="page-styles-guide-typography__container">
    <div class="page-styles-guide-typography__item">
      <h2 class="page-styles-guide-typography__title">
        <span> Typography: </span> Titles on page
      </h2>

      <div class="page-styles-guide-typography__description">
        Use follow mixins for styles titles:
        <ul>
          <li>@include title-h1()</li>

          <li>@include title-h2()</li>

          <li>@include title-h3()</li>

          <li>@include title-h4()</li>

          <li>@include title-h5()</li>

          <li>@include title-h6()</li>
        </ul>
      </div>

      <div class="page-styles-guide-typography__content">
        <h1>This is a heading h1.</h1>

        <h2>This is a heading h2.</h2>

        <h3>This is a heading h3.</h3>

        <h4>This is a heading h4.</h4>

        <h5>This is a heading h5.</h5>

        <h6>This is a heading h6.</h6>
      </div>
    </div>

    <div class="page-styles-guide-typography__item">
      <h2 class="page-styles-guide-typography__title">
        <span> Typography: </span> Text and titles for text
      </h2>

      <div class="page-styles-guide-typography__description">
        Use follow mixins for styles titles:
        <ul>
          <li>@include text-title-1()</li>

          <li>@include text-title-2()</li>

          <li>@include text-title-3()</li>

          <li>@include text-title-4()</li>
        </ul>

        <p>Use follow mixin for styles text (normal size - 14px):</p>

        <ul>
          <li>@include text-content()</li>
        </ul>

        <p>Use follow mixin for styles text (small size - 12px):</p>

        <ul>
          <li>@include text-content-sm()</li>
        </ul>
      </div>

      <div class="page-styles-guide-typography__text">
        <span class="page-styles-guide-typography__text-title-1">
          Title 1 for text
        </span>

        <span class="page-styles-guide-typography__text-title-2">
          Title 2 for text
        </span>

        <span class="page-styles-guide-typography__text-title-3">
          Title 3 for text
        </span>

        <span class="page-styles-guide-typography__text-title-4">
          Title 4 for text
        </span>

        <p class="page-styles-guide-typography__text-normal">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
          turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
          fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
          elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
          lectus. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Praesent auctor purus luctus enim
          egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex.
          Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum
          lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in
          elementum tellus. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed
          dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus,
          ut interdum tellus elit sed risus. Maecenas eget condimentum velit,
          sit amet feugiat lectus. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Praesent auctor
          purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut
          rhoncus ex.
        </p>

        <p class="page-styles-guide-typography__text-sm">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
          turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
          fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
          elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
          lectus. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Praesent auctor purus luctus enim
          egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex.
          Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum
          lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in
          elementum tellus. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed
          dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus,
          ut interdum tellus elit sed risus. Maecenas eget condimentum velit,
          sit amet feugiat lectus. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Praesent auctor
          purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut
          rhoncus ex.
        </p>
      </div>
    </div>

    <div class="page-styles-guide-typography__item">
      <h2 class="page-styles-guide-typography__title">
        <span> Typography: </span> Styles for rte
      </h2>

      <div class="page-styles-guide-typography__description">
        Use class "<strong>rte</strong>" on text container. "Rte" has following
        styles for tags:
      </div>

      <div class="rte">
        <h1>RTE tag h1</h1>

        <h2>RTE tag h2</h2>

        <h3>RTE tag h3</h3>

        <h4>RTE tag h4</h4>

        <h5>RTE tag h5</h5>

        <h6>RTE tag h6</h6>

        <p>
          <strong> Example text content on rte (tag p) </strong>
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
          turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
          fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
          elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
          lectus. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Praesent auctor purus luctus enim
          egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex.
          Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum
          lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in
          elementum tellus.
          <a href="#">Examle link in rte</a>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
          turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
          fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
          elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
          lectus. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Praesent auctor purus luctus enim
          egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex.
        </p>

        <strong> Example unnumbered list on rte (tag ul) </strong>

        <ul>
          <li>Item rte 1</li>

          <li>Item rte 2</li>

          <li>Item rte 3</li>
        </ul>

        <strong> Example nested unnumbered list on rte (ul > ul > ul) </strong>

        <ul>
          <li>Item rte 1</li>

          <li>Item rte 2</li>

          <li>
            Item rte 3
            <ul>
              <li>Subitem rte 1</li>

              <li>Subitem rte 2</li>

              <li>
                Subitem rte 3
                <ul>
                  <li>Subsubitem rte 1</li>

                  <li>Subsubitem rte 2</li>

                  <li>Subsubitem rte 3</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

        <strong> Example numbered list on rte (tag ol) </strong>

        <ol>
          <li>Item rte 1</li>

          <li>Item rte 2</li>

          <li>Item rte 3</li>
        </ol>
      </div>
    </div>
  </div>
</section>
