{{ 'page_example_section.js' | asset_url | script_tag }}
{{ 'page_initial_section.css' | asset_url | stylesheet_tag }}

<section class="page_initial_section"
         data-section="page_initial_section"
>
    <!-- page_initial_section -->
</section>
