{{ 'page_example.js' | asset_url | script_tag }}
{{ 'page_initial.css' | asset_url | stylesheet_tag }}

<div class="page_initial"
     data-template="page_initial"
>
    <h1>{{ page.title }}</h1>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}
    <p>
        {{ page.content }}
    </p>
</div>
