/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $at-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include at-query($medium) {
 *     color: red;
 *   }
 * }
 */
$min: min-width;
$max: max-width;

@mixin at-query($viewport, $constraint: $max) {
  @media screen and ($constraint: $viewport) {
    @content;
  }
}

/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: table;
  }

  // stylelint-disable-next-line
  *zoom: 1;
}

/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important; // stylelint-disable-line
  width: 1px;
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  clip: auto;
  height: auto;
  margin: 0;
  overflow: auto;
  position: $position !important;
  width: auto;
}
