@charset 'UTF-8';

// Settings
@import '../../styles/variables';
@import '../../styles/mixins';


.article {
  display: block;
}

.article__hero-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 278px;
}
