<div id="size-guide-drawer"
     class="drawer drawer--size-guide"
>
  <div class="ajaxcart__container">
    <header class="ajaxcart__header">
      <div class="ajaxcart__header-text ajaxcart__header-text--title">
        <button class="ajaxcart__close"
                data-drawer-close
        >
          {% render 'icon-close' %}
        </button>

        Size Guide
      </div>
    </header>

    <div class="size-guide__info">
      {{ size_guide_info }}
    </div>

    <div class="size-guide__table-wr"> 
      <table class="size-guide__table">
        <thead class="size-guide__table-head">
          <tr class="size-guide__table-row size-guide__table-row--header">
            <th class="size-guide__table-header">US & Canada</th>
            <th class="size-guide__table-header">UK</th>
            <th class="size-guide__table-header">Europe</th>
            <th class="size-guide__table-header">Japan (cm)</th>
            <th class="size-guide__table-header">CHN (mm)</th>
          </tr>
        </thead>

        <tbody>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">5.5</td>
            <td class="size-guide__table-data">3.5</td>
            <td class="size-guide__table-data">36</td>
            <td class="size-guide__table-data">22</td>
            <td class="size-guide__table-data">220</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">6</td>
            <td class="size-guide__table-data">4</td>
            <td class="size-guide__table-data">36-37</td>
            <td class="size-guide__table-data">22.5</td>
            <td class="size-guide__table-data">225</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">6.5</td>
            <td class="size-guide__table-data">4.5</td>
            <td class="size-guide__table-data">37</td>
            <td class="size-guide__table-data">23</td>
            <td class="size-guide__table-data">230</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">7</td>
            <td class="size-guide__table-data">5</td>
            <td class="size-guide__table-data">37-38</td>
            <td class="size-guide__table-data">23.5</td>
            <td class="size-guide__table-data">235</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">7.5</td>
            <td class="size-guide__table-data">5.5</td>
            <td class="size-guide__table-data">38</td>
            <td class="size-guide__table-data">24</td>
            <td class="size-guide__table-data">240</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">8</td>
            <td class="size-guide__table-data">6</td>
            <td class="size-guide__table-data">38-39</td>
            <td class="size-guide__table-data">24.5</td>
            <td class="size-guide__table-data">245</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">8.5</td>
            <td class="size-guide__table-data">6.5</td>
            <td class="size-guide__table-data">39</td>
            <td class="size-guide__table-data">25</td>
            <td class="size-guide__table-data">250</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">9</td>
            <td class="size-guide__table-data">7</td>
            <td class="size-guide__table-data">39-40</td>
            <td class="size-guide__table-data">25.5</td>
            <td class="size-guide__table-data">255</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">9.5</td>
            <td class="size-guide__table-data">7.5</td>
            <td class="size-guide__table-data">40</td>
            <td class="size-guide__table-data">26</td>
            <td class="size-guide__table-data">260</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">10</td>
            <td class="size-guide__table-data">8</td>
            <td class="size-guide__table-data">40-41</td>
            <td class="size-guide__table-data">26.5</td>
            <td class="size-guide__table-data">265</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">10.5</td>
            <td class="size-guide__table-data">8.5</td>
            <td class="size-guide__table-data">41</td>
            <td class="size-guide__table-data">27</td>
            <td class="size-guide__table-data">270</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">11</td>
            <td class="size-guide__table-data">9</td>
            <td class="size-guide__table-data">41-42</td>
            <td class="size-guide__table-data">27.5</td>
            <td class="size-guide__table-data">275</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">11.5</td>
            <td class="size-guide__table-data">9.5</td>
            <td class="size-guide__table-data">42</td>
            <td class="size-guide__table-data">28</td>
            <td class="size-guide__table-data">280</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">12</td>
            <td class="size-guide__table-data">10</td>
            <td class="size-guide__table-data">42-43</td>
            <td class="size-guide__table-data">28.5</td>
            <td class="size-guide__table-data">285</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">12.5</td>
            <td class="size-guide__table-data">10.5</td>
            <td class="size-guide__table-data">43</td>
            <td class="size-guide__table-data">29</td>
            <td class="size-guide__table-data">290</td>
          </tr>
          <tr class="size-guide__table-row">
            <td class="size-guide__table-data">13</td>
            <td class="size-guide__table-data">11</td>
            <td class="size-guide__table-data">43-44</td>
            <td class="size-guide__table-data">29.5</td>
            <td class="size-guide__table-data">295</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
