.page-maternity-faq {
  border-top: 2px solid $colorText;
  margin-left: 16px;
  margin-right: 16px;
  padding: 30px 0 $maternity-space-mobile;

  @include media-query($medium-up) {
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: $maternity-space-desktop;
    padding-top: 50px;
  }
}

.page-maternity-faq__in {
  display: flex;
  flex-direction: column;
  margin: auto;

  @include media-query($medium-up) {
    flex-direction: row;
  }
}

.page-maternity-faq__content {
  width: 100%;

  @include media-query($medium-up) {
    width: 50%;
  }
}

.page-maternity-faq__content-title {
  @include text-title-1();

  margin: 0 0 20px 0;

  @include media-query($medium-up) {
    margin-bottom: 0;
  }
}

.page-maternity-faq__questions {
  width: 100%;

  @include media-query($medium-up) {
    width: 50%;
  }

  @include media-query($large-up) {
    padding-right: 100px;
  }
}

