<style>
  {% render 'page.faq.css' %}
</style>

<div
  class="page-faq"
  data-template="page.faq"
>
  <div class="faq">
    {% section 'faq-hero' %}

    <div class="faq-accordions">
      {% section 'faq-accordion-1' %}
      {% section 'faq-accordion-2' %}
      {% section 'faq-accordion-3' %}
      {% section 'faq-accordion-4' %}
      {% section 'faq-accordion-5' %}
    </div>
  </div>
</div>
