<section
  class="product-spike-bag-details"
  data-section="product-spike-bag-details"
>
  {{ section.settings.details }}
</section>

{% schema %}
{
  "name": "Spike Bag Details",
  "settings": [
    {
      "type": "richtext",
      "label": "details",
      "id": "details",
      "default": "<p>PRODUCT DETAILS<br /><br />The Saysh Spike Bag, each stitched and made by hand, was created to be striking to not only the eye but also the touch. Visually, many details make it significantly one of a kind and even without looking like so, made from materials that can withstand its sole purpose, track spikes. The bag is constructed with three layers of material. Two of them are highly durable ripstop, and the last is a golden foil mesh that is slightly transparent, showing within a beautiful illustration. The strap attached is fashioned in a way to make the overall fit cross-body. It is made with a cushioned, suede shoulder guard displaying a repeating circle pattern. The shoulder pad can be adjusted by sliding on the two cables of braided leather. Both leather pieces loop into eyelets that correspond to the same pattern seen on the cushion. This bag is perfect for casual and athletic wear alike.</p>"
    }
  ]
}
{% endschema %}
