<section
  class="sign-up-form"
  data-section="sign-up-form"
>
  <div class="sign-up-form__in">
    <div class="sign-up-form__title">
      {{ section.settings.title }}
    </div>

    <div class="sign-up-form__text">
      {{ section.settings.text }}
    </div>

    <div class="sign-up-form__form">
      {% render 'sms-form' %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sign Up From",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "The Saysh Collective"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text content",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae facilisi diam aenean nec sollicitudin aliquam donec quis. Duis sit diam non aenean enim. Venenatis pellentesque est tellus cursus tortor aliquam. Scelerisque pulvinar adipiscing vitae, risus pharetra. Netus scelerisque in semper porttitor vulputate id aliquet."
    }
  ],
  "presets": [
    {
      "name": "Sign Up From",
      "category": "Custom"
    }
  ]
}
{% endschema %}
