.sign-up-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $grid-desktop;
  padding: 0 spacing() * 5;

  @include media-query($small-down) {
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 0;
  }
}

.sign-up-form__in {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  order: 0;
  padding: 0 spacing() * 2.5;
  text-align: center;
  width: 100%;

  @include media-query($small-down) {
    padding: 0 spacing() * 1.5;
  }
}

.sign-up-form__title {
  font-family: font-family(header);
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-bottom: spacing() * 1.75;

  @include media-query($small-down) {
    margin-bottom: spacing();
  }
}

.sign-up-form__text {
  font-size: 16px;
  line-height: 1.2;
  margin: 0 auto spacing() * 2;

  @include media-query($small-down) {
    margin-bottom: spacing() * 1.5;
    max-width: 90%;
  }
}

.sign-up-form__form {
  margin: 0 auto;
  max-width: $grid-small;
  padding: 0 spacing();
  position: relative;
  width: 100%;

  form input {
    @include media-query($small-down) {
      text-align: center;
    }
  }

  form [type="submit"] {
    padding-bottom: 0;
    position: relative;

    @include media-query($small-down) {
      @include button-transparent();

      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      z-index: $zIndexNormal;
    }
  }
}
