<style>
  {% render 'page.maternity.css' %}
</style>

<div
  class="page-maternity"
  data-template="page.maternity"
>
  {% section 'page-maternity-hero' %}
  {% section 'page-maternity-policy' %}
  {% section 'page-maternity-bigtext' %}
  {% section 'page-maternity-steps' %}
  {% section 'page-maternity-media' %}
  {% section 'page-maternity-faq' %}
  {% section 'page-image-banner' %}
</div>
