<style>
  {% render 'page.support-terms.css' %}
</style>

<div
  class="page-support-terms"
  data-template="page.support-terms"
>
  {% section 'page-support-terms-hero' %}

  {% section 'page-support-terms-info' %}
</div>
