<div
  class="site-overlay"
  data-snippet="site-overlay"
  data-site-overlay
>
  <button
    class="site-overlay__close"
    data-site-overlay-close-btn
  >
    <img
      class="lazyload"
      data-src="{{ 'close-icon.svg' | asset_url }}"
      alt="close"
    >
  </button>
</div>
