<section
  class="page-support-terms-hero"
  data-section="page-support-terms-hero"
>
  <div class="page-support-terms-hero__in">
    <div class="page-support-terms-hero__media">
      <h2 class="page-support-terms-hero__media-title">
        {{ section.settings.title | newline_to_br }}
      </h2>

      <div class="page-support-terms-hero__media-img">
        {% render 'lazy-image', image: section.settings.image %}
      </div>
    </div>

    <div class="page-support-terms-hero__content">
      <h3 class="page-support-terms-hero__content-title">
        {{ section.settings.title_2 }}
      </h3>

      <div class="page-support-terms-hero__content-text">
        {{ section.settings.text }}
      </div>

      <div class="page-support-terms-hero__content-media">
        {% render 'lazy-image', image: section.settings.image %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page Support Terms Hero",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title",
      "default": "Terms of Use Overview"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hero image"
    },
    {
      "type": "textarea",
      "id": "title_2",
      "label": "Second title",
      "default": "The websites at saysh.com and bysaysh.com are operated by Saysh LLC. Throughout the site, the terms “we”, “us”, “our”, “Saysh”, “Saysh Collective” and “Saysh Shop” refer to Saysh LLC. Saysh offers these websites, including all information, tools and services, including product ordering available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here."
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service” or “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content. Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service. Any new website pages, features, or tools which are added to or accessed from the current website and the Saysh Shop shall also be a Service and subject to these Terms of  Service, this includes any Saysh membership website created for Saysh Collective member’s exclusive use. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes. The Saysh Shop is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and provide related services to you."
    }
  ]
}
{% endschema %}
