<section class="<%= name %>"
         data-section="<%= name %>"
>
</section>



{% schema %}
  {
    "name": "<%= schemaName %>",
    "settings": [
    ],
    "blocks": [
      {
        "name": "Section block",
        "type": "init_block",
        "settings": [
        ]
      }
    ]
  }
{% endschema %}
