<section class="<%= name %>"
         data-section="<%= name %>"
>
</section>



{% schema %}
  {
    "name": "<%= schemaName %> section",
    "settings": [
    ],
    "blocks": {
      "name": "<%= schemaName %> block",
      "type": "init_block",
      "settings": [
      ]
    }
  }
{% endschema %}
