<style>
  {% render 'page.about-us.css' %}
</style>

<div
  class="page-about-us"
  data-template="page.about-us"
>
  {% section 'page-about-us-video-hero' %}

  {% section 'page-about-us-story' %}
</div>
