<style>
  {% render 'page.support-privacy.css' %}
</style>

<div
  class="page-support-privacy"
  data-template="page.support-privacy"
>
  {% section 'page-support-privacy-hero' %}

  {% section 'page-support-privacy-info' %}
</div>
