@charset 'UTF-8';

// Settings
@import '../../styles/variables';
@import '../../styles/mixins';

<% if (sectionName) { %>// Sections
@import './<%= sectionName %>/<%= sectionName %>';


<% } %>.<%= className %> {
  display: block;
}
