{{ '<%= name %>.css' | asset_url | stylesheet_tag }}

<div class="<%= className %>"
     data-template="<%= name %>"
>
  <% if (sectionName) { %>{% section '<%= sectionName %>' %}<% } %>

  Hello! I'm a new template "<%= name %>"!
</div>

{{ '<%= name %>.js' | asset_url | script_tag }}
