{{ '<%= name %>.js' | asset_url | script_tag }}

<style>
  {% render '<%= name %>.css' %}
</style>

<div class="<%= className %>"
     data-template="<%= name %>"
>
  <% if (sectionName) { %>{% section '<%= sectionName %>' %}<% } %>
</div>
