@use "sass:math";

.blog-post {
  display: block;
}

.blog-post__in {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-post__item {
  flex: 1 1 percentage(math.div(1, 3));
}
